.hero {
    color: #f5f5f5;
    background-color: black;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 25px;
    padding-left: 15%;
}

.hero h1 {
    margin: 0;
}

.highlight {
    color: #e1f154 !important;
}