<section class="contact">
  <h1>Contact</h1>
  <div class="contact-info">
    <div class="contact-mail">
      <img src="images/footer/mail.png" alt="">
      <a href="#">suchitmeshram67&#64;gmail.com</a>
    </div>
    <div class="contact-linkedin">
      <img src="images/footer/linkedin.png" alt="">
      <a href="https://www.linkedin.com/in/suchit-meshram-0326511b6/" target="_blank">LinkedIn</a>
    </div>
    <div class="contact-github">
      <img src="images/footer/github.png" alt="">
      <a href="https://github.com/suchitmeshram" target="_blank">GitHub</a>
    </div>
    <div class="contact-number">
      <img src="images/footer/phone.png" alt="">
      <a href="#">+91 9373255314</a>
    </div>
  </div>
  <div class="contact-address">
    <img src="images/footer/location.png" alt="">
    <p>
      Plot No. 04, Dream Colony 01 Ward No. 04, Turakmari Butibori, Nagpur
      Maharashtra – 441122 India
    </p>
  </div>
</section>
<section class="copyright">
  <p>&copy; 2026 Suchit Meshram. All rights reserved.</p>
</section>