.contact {
    background-color: black;
    padding-top: 1%;
    padding-bottom: 2%;
}

.contact h1 {
    color: white;
    margin: 0;
    padding-left: 15%;
    padding-top: 5%;
    padding-bottom: 3%;
}

.contact a {
    font-size: 25px;
    padding-left: 20%;
    text-decoration: none;
    padding-top: 4%;
    color: white;
}

.contact a:hover {
    text-decoration: underline;
}