.navbar {
  background: black;
}

.nav-container {
  max-width: 100%;
  margin: auto;
  padding-left: 25px;
  padding-right: 10px;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 1.4rem;
  font-weight: bold;
  color: #4f46e5;
}

.logo img {
  height: 150px;
}
nav {
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

nav a:hover {
  color: #e1f154;
}

/* Mobile */
.menu-btn {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

/* Responsive */
@media (max-width: 768px) {
  nav {
    position: absolute;
    top: 60px;
    right: 0;
    background: white;
    flex-direction: column;
    width: 200px;
    padding: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    display: none;
  }

  nav.open {
    display: flex;
  }

  .menu-btn {
    display: block;
  }
}

.header {
  margin: 0;
}
