.section {
    background-color: black;
    padding-bottom: 2%;
}

.section h1 {
    color: white;
    margin: 0;
    padding-left: 15%;
    padding-top: 5%;
}

.experience {
    color: white;
    font-size: 20px;
    padding-left: 20%;
    gap: 15px 5px;
    padding-top: 2%;
}