.section {
    background-color: black;
}

.section h1 {
    color: white;
    margin: 0;
    padding-left: 15%;
}

.skills {
    color: white;
    font-size: 20px;
    padding-left: 20%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px 5px;
    padding-top: 2%;
}

/* Remove list dot from skills list */
.skills li {
  list-style-type: none;
}

.skill-item {
  gap: 10px;
  background-color: rgb(45, 45, 33);
  border: transparent;
  border-radius: 8px;
  padding: 8px;
  box-sizing: border-box;
  width: 40%;
}

.skill-item li {
  width: 100%;
  text-align: center;
}

.skill-image {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;
  padding-left: 30%;
}
