
<section class="section">
  <h1>About Me</h1>
  <p>
I’m a <span class="highlight">full-stack software developer</span> with over 2.6 years of experience, 
having worked on multiple projects using Angular and .NET to build reliable 
and user-friendly applications. I enjoy collaborating with teams and turning 
ideas into practical, scalable solutions. <br>

I have a strong curiosity for AI/ML and love exploring emerging technologies. 
I’m always ready to learn, build, and improve, and I’ve actively developed
projects and participated in several ideathons, where I enjoy experimenting
 with innovative ideas and solving real-world problems.
</p>
</section>